//White navbar option
.navbar-white {
  background-color: #fff;
}

// uab-med Trims for navbar
.navbar-uab-trim, .navbar-uab-green-trim {
  border-bottom: .5rem solid $brand-uab;
}

.navbar-uab-blue-trim {
  border-bottom: .5rem solid $brand-uab-blue;
}

.navbar-uab-red-trim {
  border-bottom: .5rem solid $brand-uab-red;
}

.navbar-uab-light-green-trim {
  border-bottom: .5rem solid $brand-uab-light-green;
}

.navbar-uab-gold-trim {
  border-bottom: .5rem solid $brand-uab-gold;
}

.navbar-uab-offwhite-trim {
  border-bottom: .5rem solid $brand-uab-offwhite;
}

.navbar-uab-gray-trim {
  border-bottom: .5rem solid $brand-uab-gray;
}

.navbar-uab-pale-blue-trim {
  border-bottom: .5rem solid $brand-uab-pale-blue;
}

.navbar-uab-aqua-trim {
  border-bottom: .5rem solid $brand-uab-aqua;
}

.navbar-uab-blue-green-trim {
  border-bottom: .5rem solid $brand-uab-blue-green;
}

.navbar-uab-sand-trim {
  border-bottom: .5rem solid $brand-uab-sand;
}

// Dark links against a white background
.navbar-dark-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-white-active-color;

    @include hover-focus {
      color: $navbar-white-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-white-color;

      @include hover-focus {
        color: $navbar-white-hover-color;
      }

      &.disabled {
        color: $navbar-white-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-white-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-white-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-white-toggler-bg;
  }

  .navbar-text {
    color: $navbar-white-color;
  }
}

// Brand colored links
.navbar-uab-links, .navbar-uab-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-active-color;

    @include hover-focus {
      color: $navbar-uab-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-color;

      @include hover-focus {
        color: $navbar-uab-hover-color;
      }

      &.disabled {
        color: $navbar-uab-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-color;
  }
}

.navbar-uab-blue-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-blue-active-color;

    @include hover-focus {
      color: $navbar-uab-blue-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-blue-color;

      @include hover-focus {
        color: $navbar-uab-blue-hover-color;
      }

      &.disabled {
        color: $navbar-uab-blue-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-blue-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-blue-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-blue-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-blue-color;
  }
}

.navbar-uab-red-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-red-active-color;

    @include hover-focus {
      color: $navbar-uab-red-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-red-color;

      @include hover-focus {
        color: $navbar-uab-red-hover-color;
      }

      &.disabled {
        color: $navbar-uab-red-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-red-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-red-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-red-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-red-color;
  }
}

.navbar-uab-light-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-light-green-active-color;

    @include hover-focus {
      color: $navbar-uab-light-green-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-light-green-color;

      @include hover-focus {
        color: $navbar-uab-light-green-hover-color;
      }

      &.disabled {
        color: $navbar-uab-light-green-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-light-green-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-light-green-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-light-green-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-light-green-color;
  }
}

.navbar-uab-gold-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-gold-active-color;

    @include hover-focus {
      color: $navbar-uab-gold-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-gold-color;

      @include hover-focus {
        color: $navbar-uab-gold-hover-color;
      }

      &.disabled {
        color: $navbar-uab-gold-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-gold-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-gold-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-gold-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-gold-color;
  }
}

.navbar-uab-offwhite-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-offwhite-active-color;

    @include hover-focus {
      color: $navbar-uab-offwhite-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-offwhite-color;

      @include hover-focus {
        color: $navbar-uab-offwhite-hover-color;
      }

      &.disabled {
        color: $navbar-uab-offwhite-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-offwhite-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-offwhite-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-offwhite-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-offwhite-color;
  }
}

.navbar-uab-gray-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-gray-active-color;

    @include hover-focus {
      color: $navbar-uab-gray-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-gray-color;

      @include hover-focus {
        color: $navbar-uab-gray-hover-color;
      }

      &.disabled {
        color: $navbar-uab-gray-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-gray-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-gray-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-gray-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-gray-color;
  }
}

.navbar-uab-pale-blue-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-pale-blue-active-color;

    @include hover-focus {
      color: $navbar-uab-pale-blue-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-pale-blue-color;

      @include hover-focus {
        color: $navbar-uab-pale-blue-hover-color;
      }

      &.disabled {
        color: $navbar-uab-pale-blue-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-pale-blue-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-pale-blue-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-pale-blue-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-pale-blue-color;
  }
}

.navbar-uab-aqua-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-aqua-active-color;

    @include hover-focus {
      color: $navbar-uab-aqua-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-aqua-color;

      @include hover-focus {
        color: $navbar-uab-aqua-hover-color;
      }

      &.disabled {
        color: $navbar-uab-aqua-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-aqua-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-aqua-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-aqua-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-aqua-color;
  }
}

.navbar-uab-blue-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-blue-green-active-color;

    @include hover-focus {
      color: $navbar-uab-blue-green-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-blue-green-color;

      @include hover-focus {
        color: $navbar-uab-blue-green-hover-color;
      }

      &.disabled {
        color: $navbar-uab-blue-green-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-blue-green-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-blue-green-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-blue-green-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-blue-green-color;
  }
}

.navbar-uab-sand-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-sand-active-color;

    @include hover-focus {
      color: $navbar-uab-sand-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-sand-color;

      @include hover-focus {
        color: $navbar-uab-sand-hover-color;
      }

      &.disabled {
        color: $navbar-uab-sand-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-sand-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-sand-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-sand-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-sand-color;
  }
}
