//White navbar option
.navbar-white {
  background-color: #fff;
}

// uab-med Trims for navbar
.navbar-uab-med-trim, .navbar-uab-med-green-trim {
  border-bottom: .5rem solid $brand-uab-med;
}

.navbar-uab-med-blue-trim {
  border-bottom: .5rem solid $brand-uab-med-blue;
}

.navbar-uab-med-red-trim {
  border-bottom: .5rem solid $brand-uab-med-red;
}

.navbar-uab-med-light-green-trim {
  border-bottom: .5rem solid $brand-uab-med-light-green;
}

.navbar-uab-med-gold-trim {
  border-bottom: .5rem solid $brand-uab-med-gold;
}

.navbar-uab-med-offwhite-trim {
  border-bottom: .5rem solid $brand-uab-med-offwhite;
}

.navbar-uab-med-gray-trim {
  border-bottom: .5rem solid $brand-uab-med-gray;
}

.navbar-uab-med-pale-blue-trim {
  border-bottom: .5rem solid $brand-uab-med-pale-blue;
}

.navbar-uab-med-aqua-trim {
  border-bottom: .5rem solid $brand-uab-med-aqua;
}

.navbar-uab-med-blue-green-trim {
  border-bottom: .5rem solid $brand-uab-med-blue-green;
}

.navbar-uab-med-sand-trim {
  border-bottom: .5rem solid $brand-uab-med-sand;
}

// Dark links against a white background
.navbar-dark-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-white-active-color;

    @include hover-focus {
      color: $navbar-white-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-white-color;

      @include hover-focus {
        color: $navbar-white-hover-color;
      }

      &.disabled {
        color: $navbar-white-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-white-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-white-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-white-toggler-bg;
  }

  .navbar-text {
    color: $navbar-white-color;
  }
}

// Brand colored links
.navbar-uab-med-links, .navbar-uab-med-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-active-color;

    @include hover-focus {
      color: $navbar-uab-med-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-color;

      @include hover-focus {
        color: $navbar-uab-med-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-color;
  }
}

.navbar-uab-med-blue-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-blue-active-color;

    @include hover-focus {
      color: $navbar-uab-med-blue-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-blue-color;

      @include hover-focus {
        color: $navbar-uab-med-blue-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-blue-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-blue-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-blue-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-blue-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-blue-color;
  }
}

.navbar-uab-med-red-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-red-active-color;

    @include hover-focus {
      color: $navbar-uab-med-red-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-red-color;

      @include hover-focus {
        color: $navbar-uab-med-red-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-red-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-red-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-red-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-red-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-red-color;
  }
}

.navbar-uab-med-light-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-light-green-active-color;

    @include hover-focus {
      color: $navbar-uab-med-light-green-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-light-green-color;

      @include hover-focus {
        color: $navbar-uab-med-light-green-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-light-green-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-light-green-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-light-green-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-light-green-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-light-green-color;
  }
}

.navbar-uab-med-gold-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-gold-active-color;

    @include hover-focus {
      color: $navbar-uab-med-gold-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-gold-color;

      @include hover-focus {
        color: $navbar-uab-med-gold-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-gold-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-gold-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-gold-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-gold-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-gold-color;
  }
}

.navbar-uab-med-offwhite-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-offwhite-active-color;

    @include hover-focus {
      color: $navbar-uab-med-offwhite-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-offwhite-color;

      @include hover-focus {
        color: $navbar-uab-med-offwhite-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-offwhite-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-offwhite-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-offwhite-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-offwhite-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-offwhite-color;
  }
}

.navbar-uab-med-gray-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-gray-active-color;

    @include hover-focus {
      color: $navbar-uab-med-gray-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-gray-color;

      @include hover-focus {
        color: $navbar-uab-med-gray-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-gray-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-gray-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-gray-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-gray-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-gray-color;
  }
}

.navbar-uab-med-pale-blue-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-pale-blue-active-color;

    @include hover-focus {
      color: $navbar-uab-med-pale-blue-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-pale-blue-color;

      @include hover-focus {
        color: $navbar-uab-med-pale-blue-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-pale-blue-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-pale-blue-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-pale-blue-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-pale-blue-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-pale-blue-color;
  }
}

.navbar-uab-med-aqua-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-aqua-active-color;

    @include hover-focus {
      color: $navbar-uab-med-aqua-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-aqua-color;

      @include hover-focus {
        color: $navbar-uab-med-aqua-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-aqua-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-aqua-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-aqua-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-aqua-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-aqua-color;
  }
}

.navbar-uab-med-blue-green-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-blue-green-active-color;

    @include hover-focus {
      color: $navbar-uab-med-blue-green-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-blue-green-color;

      @include hover-focus {
        color: $navbar-uab-med-blue-green-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-blue-green-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-blue-green-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-blue-green-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-blue-green-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-blue-green-color;
  }
}

.navbar-uab-med-sand-links {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-uab-med-sand-active-color;

    @include hover-focus {
      color: $navbar-uab-med-sand-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-uab-med-sand-color;

      @include hover-focus {
        color: $navbar-uab-med-sand-hover-color;
      }

      &.disabled {
        color: $navbar-uab-med-sand-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-uab-med-sand-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-uab-med-sand-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-uab-med-sand-toggler-bg;
  }

  .navbar-text {
    color: $navbar-uab-med-sand-color;
  }
}
