// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$brand-uab:                 #006d47 !default;
$brand-uab-blue:            #338cb9 !default;
$brand-uab-red:             #bc1116 !default;
$brand-uab-light-green:     #cee0b3 !default;
$brand-uab-gold:            #ebd38b !default;
$brand-uab-offwhite:        #f0f0e4 !default;
$brand-uab-gray:            #d9d9d9 !default;
$brand-uab-pale-blue:       #c1cfda !default;
$brand-uab-aqua:            #abc5db !default;
$brand-uab-blue-green:      #c3dfe0 !default;
$brand-uab-sand:            #f1e5c7 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-uab-color:              #fff !default;
$btn-uab-bg:                 $brand-uab !default;
$btn-uab-border:             $btn-uab-bg !default;

$btn-uab-blue-color:         #fff !default;
$btn-uab-blue-bg:            $brand-uab-blue !default;
$btn-uab-blue-border:        $btn-uab-blue-bg !default;

$btn-uab-red-color:          #fff !default;
$btn-uab-red-bg:             $brand-uab-red !default;
$btn-uab-red-border:         $btn-uab-red-bg !default;

$btn-uab-light-green-color:  #fff !default;
$btn-uab-light-green-bg:     $brand-uab-light-green !default;
$btn-uab-light-green-border: $btn-uab-light-green-bg !default;

$btn-uab-gold-color:         #fff !default;
$btn-uab-gold-bg:            $brand-uab-gold !default;
$btn-uab-gold-border:        $btn-uab-gold-bg !default;

$btn-uab-offwhite-color:     #fff !default;
$btn-uab-offwhite-bg:        $brand-uab-offwhite !default;
$btn-uab-offwhite-border:    $btn-uab-offwhite-bg !default;

$btn-uab-gray-color:         #fff !default;
$btn-uab-gray-bg:            $brand-uab-gray !default;
$btn-uab-gray-border:        $btn-uab-gray-bg !default;

$btn-uab-pale-blue-color:    #fff !default;
$btn-uab-pale-blue-bg:       $brand-uab-pale-blue !default;
$btn-uab-pale-blue-border:   $btn-uab-pale-blue-bg !default;

$btn-uab-aqua-color:         #fff !default;
$btn-uab-aqua-bg:            $brand-uab-aqua !default;
$btn-uab-aqua-border:        $btn-uab-aqua-bg !default;

$btn-uab-blue-green-color:   #fff !default;
$btn-uab-blue-green-bg:      $brand-uab-blue-green !default;
$btn-uab-blue-green-border:  $btn-uab-blue-green-bg !default;

$btn-uab-sand-color:         #fff !default;
$btn-uab-sand-bg:            $brand-uab-sand !default;
$btn-uab-sand-border:        $btn-uab-sand-bg !default;

// Navbar

$navbar-white-color:                              rgba(0,0,0,.6) !default;
$navbar-white-hover-color:                        rgba(0,0,0,.8) !default;
$navbar-white-active-color:                       rgba(0,0,0,1) !default;
$navbar-white-disabled-color:                     rgba(0,0,0,.3) !default;

$navbar-uab-links-color:                      rgba($brand-uab,.5) !default;
$navbar-uab-links-hover-color:                rgba($brand-uab,.75) !default;
$navbar-uab-links-active-color:               rgba($brand-uab,1) !default;
$navbar-uab-links-disabled-color:             rgba($brand-uab,.25) !default;

$navbar-uab-blue-links-color:                 rgba($brand-uab-blue,.5) !default;
$navbar-uab-blue-links-hover-color:           rgba($brand-uab-blue,.75) !default;
$navbar-uab-blue-links-active-color:          rgba($brand-uab-blue,1) !default;
$navbar-uab-blue-links-disabled-color:        rgba($brand-uab-blue,.25) !default;

$navbar-uab-red-links-color:                  rgba($brand-uab-red,.5) !default;
$navbar-uab-red-links-hover-color:            rgba($brand-uab-red,.75) !default;
$navbar-uab-red-links-active-color:           rgba($brand-uab-red,1) !default;
$navbar-uab-red-links-disabled-color:         rgba($brand-uab-red,.25) !default;

$navbar-uab-light-green-links-color:          rgba($brand-uab-light-green,.5) !default;
$navbar-uab-light-green-links-hover-color:    rgba($brand-uab-light-green,.75) !default;
$navbar-uab-light-green-links-active-color:   rgba($brand-uab-light-green,1) !default;
$navbar-uab-light-green-links-disabled-color: rgba($brand-uab-light-green,.25) !default;

$navbar-uab-gold-links-color:                 rgba($brand-uab-gold,.5) !default;
$navbar-uab-gold-links-hover-color:           rgba($brand-uab-gold,.75) !default;
$navbar-uab-gold-links-active-color:          rgba($brand-uab-gold,1) !default;
$navbar-uab-gold-links-disabled-color:        rgba($brand-uab-gold,.25) !default;

$navbar-uab-offwhite-links-color:             rgba($brand-uab-offwhite,.5) !default;
$navbar-uab-offwhite-links-hover-color:       rgba($brand-uab-offwhite,.75) !default;
$navbar-uab-offwhite-links-active-color:      rgba($brand-uab-offwhite,1) !default;
$navbar-uab-offwhite-links-disabled-color:    rgba($brand-uab-offwhite,.25) !default;

$navbar-uab-gray-links-color:                 rgba($brand-uab-gray,.5) !default;
$navbar-uab-gray-links-hover-color:           rgba($brand-uab-gray,.75) !default;
$navbar-uab-gray-links-active-color:          rgba($brand-uab-gray,1) !default;
$navbar-uab-gray-links-disabled-color:        rgba($brand-uab-gray,.25) !default;

$navbar-uab-pale-blue-links-color:            rgba($brand-uab-pale-blue,.5) !default;
$navbar-uab-pale-blue-links-hover-color:      rgba($brand-uab-pale-blue,.75) !default;
$navbar-uab-pale-blue-links-active-color:     rgba($brand-uab-pale-blue,1) !default;
$navbar-uab-pale-blue-links-disabled-color:   rgba($brand-uab-pale-blue,.25) !default;

$navbar-uab-aqua-links-color:                 rgba($brand-uab-aqua,.5) !default;
$navbar-uab-aqua-links-hover-color:           rgba($brand-uab-aqua,.75) !default;
$navbar-uab-aqua-links-active-color:          rgba($brand-uab-aqua,1) !default;
$navbar-uab-aqua-links-disabled-color:        rgba($brand-uab-aqua,.25) !default;

$navbar-uab-blue-green-links-color:           rgba($brand-uab-blue-green,.5) !default;
$navbar-uab-blue-green-links-hover-color:     rgba($brand-uab-blue-green,.75) !default;
$navbar-uab-blue-green-links-active-color:    rgba($brand-uab-blue-green,1) !default;
$navbar-uab-blue-green-links-disabled-color:  rgba($brand-uab-blue-green,.25) !default;

$navbar-uab-sand-links-color:                 rgba($brand-uab-sand,.5) !default;
$navbar-uab-sand-links-hover-color:           rgba($brand-uab-sand,.75) !default;
$navbar-uab-sand-links-active-color:          rgba($brand-uab-sand,1) !default;
$navbar-uab-sand-links-disabled-color:        rgba($brand-uab-sand,.25) !default;

// Labels

$label-uab-bg:             $brand-uab !default;
$label-uab-blue-bg:        $brand-uab-blue !default;
$label-uab-red-bg:         $brand-uab-red !default;
$label-uab-light-green-bg: $brand-uab-light-green !default;
$label-uab-gold-bg:        $brand-uab-gold !default;
$label-uab-offwhite-bg:    $brand-uab-offwhite !default;
$label-uab-gray-bg:        $brand-uab-gray !default;
$label-uab-pale-blue-bg:   $brand-uab-pale-blue !default;
$label-uab-aqua-bg:        $brand-uab-aqua !default;
$label-uab-blue-green-bg:  $brand-uab-blue-green !default;
$label-uab-sand-bg:        $brand-uab-sand !default;

// Progress bars

$progress-bar-uab-bg:             $brand-uab !default;
$progress-bar-uab-blue-bg:        $brand-uab-blue !default;
$progress-bar-uab-red-bg:         $brand-uab-red !default;
$progress-bar-uab-light-green-bg: $brand-uab-light-green !default;
$progress-bar-uab-gold-bg:        $brand-uab-gold !default;
$progress-bar-uab-offwhite-bg:    $brand-uab-offwhite !default;
$progress-bar-uab-gray-bg:        $brand-uab-gray !default;
$progress-bar-uab-pale-blue-bg:   $brand-uab-pale-blue !default;
$progress-bar-uab-aqua-bg:        $brand-uab-aqua !default;
$progress-bar-uab-blue-green-bg:  $brand-uab-blue-green !default;
$progress-bar-uab-sand-bg:        $brand-uab-sand !default;
