// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$brand-uab-med:                 #006d47 !default;
$brand-uab-med-blue:            #338cb9 !default;
$brand-uab-med-red:             #bc1116 !default;
$brand-uab-med-light-green:     #cee0b3 !default;
$brand-uab-med-gold:            #ebd38b !default;
$brand-uab-med-offwhite:        #f0f0e4 !default;
$brand-uab-med-gray:            #d9d9d9 !default;
$brand-uab-med-pale-blue:       #c1cfda !default;
$brand-uab-med-aqua:            #abc5db !default;
$brand-uab-med-blue-green:      #c3dfe0 !default;
$brand-uab-med-sand:            #f1e5c7 !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-uab-med-color:              #fff !default;
$btn-uab-med-bg:                 $brand-uab-med !default;
$btn-uab-med-border:             $btn-uab-med-bg !default;

$btn-uab-med-blue-color:         #fff !default;
$btn-uab-med-blue-bg:            $brand-uab-med-blue !default;
$btn-uab-med-blue-border:        $btn-uab-med-blue-bg !default;

$btn-uab-med-red-color:          #fff !default;
$btn-uab-med-red-bg:             $brand-uab-med-red !default;
$btn-uab-med-red-border:         $btn-uab-med-red-bg !default;

$btn-uab-med-light-green-color:  #fff !default;
$btn-uab-med-light-green-bg:     $brand-uab-med-light-green !default;
$btn-uab-med-light-green-border: $btn-uab-med-light-green-bg !default;

$btn-uab-med-gold-color:         #fff !default;
$btn-uab-med-gold-bg:            $brand-uab-med-gold !default;
$btn-uab-med-gold-border:        $btn-uab-med-gold-bg !default;

$btn-uab-med-offwhite-color:     #fff !default;
$btn-uab-med-offwhite-bg:        $brand-uab-med-offwhite !default;
$btn-uab-med-offwhite-border:    $btn-uab-med-offwhite-bg !default;

$btn-uab-med-gray-color:         #fff !default;
$btn-uab-med-gray-bg:            $brand-uab-med-gray !default;
$btn-uab-med-gray-border:        $btn-uab-med-gray-bg !default;

$btn-uab-med-pale-blue-color:    #fff !default;
$btn-uab-med-pale-blue-bg:       $brand-uab-med-pale-blue !default;
$btn-uab-med-pale-blue-border:   $btn-uab-med-pale-blue-bg !default;

$btn-uab-med-aqua-color:         #fff !default;
$btn-uab-med-aqua-bg:            $brand-uab-med-aqua !default;
$btn-uab-med-aqua-border:        $btn-uab-med-aqua-bg !default;

$btn-uab-med-blue-green-color:   #fff !default;
$btn-uab-med-blue-green-bg:      $brand-uab-med-blue-green !default;
$btn-uab-med-blue-green-border:  $btn-uab-med-blue-green-bg !default;

$btn-uab-med-sand-color:         #fff !default;
$btn-uab-med-sand-bg:            $brand-uab-med-sand !default;
$btn-uab-med-sand-border:        $btn-uab-med-sand-bg !default;

// Navbar

$navbar-white-color:                              rgba(0,0,0,.5) !default;
$navbar-white-hover-color:                        rgba(0,0,0,.7) !default;
$navbar-white-active-color:                       rgba(0,0,0,.9) !default;
$navbar-white-disabled-color:                     rgba(0,0,0,.3) !default;
$navbar-white-toggler-bg:                         str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-white-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-white-toggler-border:                     rgba(0,0,0,.1) !default;

$navbar-uab-med-color:                            rgba($brand-uab-med,.5) !default;
$navbar-uab-med-hover-color:                      rgba($brand-uab-med,.7) !default;
$navbar-uab-med-active-color:                     rgba($brand-uab-med,.9) !default;
$navbar-uab-med-disabled-color:                   rgba($brand-uab-med,.3) !default;
$navbar-uab-med-toggler-bg:                       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-toggler-border:                   rgba($brand-uab-med,.1) !default;

$navbar-uab-med-blue-color:                       rgba($brand-uab-med-blue,.5) !default;
$navbar-uab-med-blue-hover-color:                 rgba($brand-uab-med-blue,.7) !default;
$navbar-uab-med-blue-active-color:                rgba($brand-uab-med-blue,.9) !default;
$navbar-uab-med-blue-disabled-color:              rgba($brand-uab-med-blue,.3) !default;
$navbar-uab-med-blue-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-blue-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-blue-toggler-border:              rgba($brand-uab-med-blue,.1) !default;

$navbar-uab-med-red-color:                        rgba($brand-uab-med-red,.5) !default;
$navbar-uab-med-red-hover-color:                  rgba($brand-uab-med-red,.7) !default;
$navbar-uab-med-red-active-color:                 rgba($brand-uab-med-red,.9) !default;
$navbar-uab-med-red-disabled-color:               rgba($brand-uab-med-red,.3) !default;
$navbar-uab-med-red-toggler-bg:                   str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-red-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-red-toggler-border:               rgba($brand-uab-med-red,.1) !default;

$navbar-uab-med-light-green-color:                rgba($brand-uab-med-light-green,.5) !default;
$navbar-uab-med-light-green-hover-color:          rgba($brand-uab-med-light-green,.7) !default;
$navbar-uab-med-light-green-active-color:         rgba($brand-uab-med-light-green,.9) !default;
$navbar-uab-med-light-green-disabled-color:       rgba($brand-uab-med-light-green,.3) !default;
$navbar-uab-med-light-green-toggler-bg:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-light-green-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-light-green-toggler-border:       rgba($brand-uab-med-light-green,.1) !default;

$navbar-uab-med-gold-color:                       rgba($brand-uab-med-gold,.5) !default;
$navbar-uab-med-gold-hover-color:                 rgba($brand-uab-med-gold,.7) !default;
$navbar-uab-med-gold-active-color:                rgba($brand-uab-med-gold,.9) !default;
$navbar-uab-med-gold-disabled-color:              rgba($brand-uab-med-gold,.3) !default;
$navbar-uab-med-gold-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-gold-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-gold-toggler-border:              rgba($brand-uab-med-gold,.1) !default;

$navbar-uab-med-offwhite-color:                   rgba($brand-uab-med-offwhite,.5) !default;
$navbar-uab-med-offwhite-hover-color:             rgba($brand-uab-med-offwhite,.7) !default;
$navbar-uab-med-offwhite-active-color:            rgba($brand-uab-med-offwhite,.9) !default;
$navbar-uab-med-offwhite-disabled-color:          rgba($brand-uab-med-offwhite,.3) !default;
$navbar-uab-med-offwhite-toggler-bg:              str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-offwhite-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-offwhite-toggler-border:          rgba($brand-uab-med-offwhite,.1) !default;

$navbar-uab-med-gray-color:                       rgba($brand-uab-med-gray,.5) !default;
$navbar-uab-med-gray-hover-color:                 rgba($brand-uab-med-gray,.7) !default;
$navbar-uab-med-gray-active-color:                rgba($brand-uab-med-gray,.9) !default;
$navbar-uab-med-gray-disabled-color:              rgba($brand-uab-med-gray,.3) !default;
$navbar-uab-med-gray-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-gray-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-gray-toggler-border:              rgba($brand-uab-med-gray,.1) !default;

$navbar-uab-med-pale-blue-color:                  rgba($brand-uab-med-pale-blue,.5) !default;
$navbar-uab-med-pale-blue-hover-color:            rgba($brand-uab-med-pale-blue,.7) !default;
$navbar-uab-med-pale-blue-active-color:           rgba($brand-uab-med-pale-blue,.9) !default;
$navbar-uab-med-pale-blue-disabled-color:         rgba($brand-uab-med-pale-blue,.3) !default;
$navbar-uab-med-pale-blue-toggler-bg:             str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-pale-blue-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-pale-blue-toggler-border:         rgba($brand-uab-med-pale-blue,.1) !default;

$navbar-uab-med-aqua-color:                       rgba($brand-uab-med-aqua,.5) !default;
$navbar-uab-med-aqua-hover-color:                 rgba($brand-uab-med-aqua,.7) !default;
$navbar-uab-med-aqua-active-color:                rgba($brand-uab-med-aqua,.9) !default;
$navbar-uab-med-aqua-disabled-color:              rgba($brand-uab-med-aqua,.3) !default;
$navbar-uab-med-aqua-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-aqua-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-aqua-toggler-border:              rgba($brand-uab-med-aqua,.1) !default;

$navbar-uab-med-blue-green-color:                 rgba($brand-uab-med-blue-green,.5) !default;
$navbar-uab-med-blue-green-hover-color:           rgba($brand-uab-med-blue-green,.7) !default;
$navbar-uab-med-blue-green-active-color:          rgba($brand-uab-med-blue-green,.9) !default;
$navbar-uab-med-blue-green-disabled-color:        rgba($brand-uab-med-blue-green,.3) !default;
$navbar-uab-med-blue-green-toggler-bg:            str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-blue-green-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-blue-green-toggler-border:        rgba($brand-uab-med-blue-green,.1) !default;

$navbar-uab-med-sand-color:                       rgba($brand-uab-med-sand,.5) !default;
$navbar-uab-med-sand-hover-color:                 rgba($brand-uab-med-sand,.7) !default;
$navbar-uab-med-sand-active-color:                rgba($brand-uab-med-sand,.9) !default;
$navbar-uab-med-sand-disabled-color:              rgba($brand-uab-med-sand,.3) !default;
$navbar-uab-med-sand-toggler-bg:                  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-uab-med-sand-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-uab-med-sand-toggler-border:              rgba($brand-uab-med-sand,.1) !default;

// Labels

$badge-uab-med-bg:             $brand-uab-med !default;
$badge-uab-med-blue-bg:        $brand-uab-med-blue !default;
$badge-uab-med-red-bg:         $brand-uab-med-red !default;
$badge-uab-med-light-green-bg: $brand-uab-med-light-green !default;
$badge-uab-med-gold-bg:        $brand-uab-med-gold !default;
$badge-uab-med-offwhite-bg:    $brand-uab-med-offwhite !default;
$badge-uab-med-gray-bg:        $brand-uab-med-gray !default;
$badge-uab-med-pale-blue-bg:   $brand-uab-med-pale-blue !default;
$badge-uab-med-aqua-bg:        $brand-uab-med-aqua !default;
$badge-uab-med-blue-green-bg:  $brand-uab-med-blue-green !default;
$badge-uab-med-sand-bg:        $brand-uab-med-sand !default;

// Progress bars

$progress-bar-uab-med-bg:             $brand-uab-med !default;
$progress-bar-uab-med-blue-bg:        $brand-uab-med-blue !default;
$progress-bar-uab-med-red-bg:         $brand-uab-med-red !default;
$progress-bar-uab-med-light-green-bg: $brand-uab-med-light-green !default;
$progress-bar-uab-med-gold-bg:        $brand-uab-med-gold !default;
$progress-bar-uab-med-offwhite-bg:    $brand-uab-med-offwhite !default;
$progress-bar-uab-med-gray-bg:        $brand-uab-med-gray !default;
$progress-bar-uab-med-pale-blue-bg:   $brand-uab-med-pale-blue !default;
$progress-bar-uab-med-aqua-bg:        $brand-uab-med-aqua !default;
$progress-bar-uab-med-blue-green-bg:  $brand-uab-med-blue-green !default;
$progress-bar-uab-med-sand-bg:        $brand-uab-med-sand !default;
